.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: black solid 1px;
}

.nav-item > ul{
    list-style-type: none;
    display: flex;
}

.nav-item > ul >li {
    padding: 10px;
}

.logo {
    width: 100px;
    margin: 2px;
}

.card > img {
    width: 100%;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.reataraunt-List{
    display: flex;
}